$screen-lg: 1200px;
$screen-md: 940px;
$screen-sm: 640px;
$screen-xs: 500px;

$bar-width: 45px;
$bar-height: 5px;
$bar-spacing: 12px;

$gold: #DEBE2E;


@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Yeseva+One');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300');