#prices {
  
      span {
        display: block;
      }
  
      .priceblock {
        margin-top: 80px;
        margin-left: auto;
        margin-right: auto;
        width: 85%;
  
        div.price-img {
          display: inline-block;
          position: relative;
  
          img {
            width: 500px;
            border: 6px solid #fff;
          }
        }
  
        div.lists-container {
          position: relative;
          display: inline-block;
          margin-left: 80px;
          vertical-align: top;
  
          h3 {
            position: relative;
            left: -4px;
            font-size: 34px;
            font-weight: 700;
            white-space: nowrap;
          }
  
          ul {
            position: relative;
            list-style: none;
            display: inline-block;
            text-align: left;
            line-height: 2;
          }
  
          ul:last-child {
            margin-left: 30px;
          }
        }
      }

      .special-offers-title-container {
        margin-top: 40px;
      }
      
      .packages-container {
        width: 90%;
        margin: 40px auto 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .frame-1 {
          height: 300px;
          background: url('/assets/frame-1.png');
        }

        .frame-2 {
          height: 345px;
          background: url('/assets/frame-2.png');
        }

        .frame-3 {
          height: 375px;
          background: url('/assets/frame-3.png');
        }

        .package {
          width: 300px;
          background-size: contain;
          background-position: center center;
          background-repeat: no-repeat;
          padding-top: 55px;

          &-title {
            margin-bottom: 20px;
          }

          ul {
            line-height: 2;
            list-style: none;
          }
        }
      }

    }
  
    @media screen and (max-width: $screen-lg) {
      #prices {
  
        .priceblock {
          width: 100%;
  
          div.price-img {
  
            img {
              width: 400px;
              position: relative;
              top: 40px;
            }
          }
  
          div.lists-container {
            margin-left: 40px;
  
            ul:last-child {
              margin-left: 10px;
            }
          }
        }

        .packages-container {
          width: 100%;
        }
      }
    }
  
    @media screen and (max-width: $screen-md) {
      #prices {
  
        .priceblock {
          margin-top: 25px;
  
          div.price-img {
            width: 75%;
  
            img {
              width: 100%;
              position: static;
              top: auto;
            }
          }
  
          div.lists-container {
            margin-left: 0;
            width: 75%;
            text-align: left;
  
            h3 {
              position: absolute;
              transform: translateX(-50%);
              left: 50%;
              top: 20px;
            }
  
            ul {
              margin-top: 60px;
            }
            ul:first-child {
              float: left;
            }
            ul:last-child {
              float: right;
              text-align: right;
              margin-left: 0;
            }
          }
        }

        .packages-container {
          flex-direction: column;
  
          .frame-1 {
            height: 350px;
          }
          .frame-2 {
            height: 400px;
          }
          .frame-3 {
            height: 435px;
          }
  
          .package {
            width: 350px;
            padding-top: 50px;
            margin-bottom: 60px;

            &-title {
              margin-bottom: 40px;
            }

            ul {
              font-size: 22px;
              line-height: 2.2;
            }
          }
        }
      }
    }
  
    @media screen and (max-width: $screen-xs) {
      #prices {
  
        .priceblock {

          div.price-img {
            width: 90%;
          }
  
          div.lists-container {
            width: 95%;
            ul {
              li {
                font-size: 18px;
              }
            }
          }
        }

        .packages-container {

          .frame-1 {
            height: 310px;
          }
  
          .frame-2 {
            height: 340px;
          }
  
          .frame-3 {
            height: 380px;
          }
  
          .package {
            width: 300px;
            padding-top: 45px;
            margin-bottom: 25px;

            &-title {
              font-size: 22px;
              margin-bottom: 25px;
            }
  
            ul {
              line-height: 2;
            }
          }
        }
      }
    }
  
    @media only screen and (max-width : 400px) {
      #prices {
  
        .priceblock {
  
          div.lists-container {
            ul {
              li {
                font-size: 16px;
              }
            }
          }
        }
      }
    }